extends layout

block content
  h1= title
  p It is currently #{moment(Date.now()).format('MM/DD/YYYY HH:mm')}
  p Please select customer and timeframe
  form(action='/search', method='POST')
    p
      | Customer:
      input(type='text', name='customer', value='')
      |          From:
      input(type='datetime-local', name='from_time', value=moment(Date.now()).subtract(15, 'minutes').format('YYYY-MM-DDTHH:mm'))
      |          To:
      input(type='datetime-local', name='to_time', value=moment().format('YYYY-MM-DDTHH:mm'))
    input(type='submit', value='Submit')

  p= hits
